<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>LG Remote Control</title>
    <link rel="stylesheet" href="./static/styles/style.css" >
    <script src="./static/js/script.js" >
    </script>
</head>
<body>
    <div class="container">
        <div class="button power"><input type="image" src="./static/pics/button-power.svg" onClick="buttonClicked('POWER')" alt="Power"></div>
        <div class="button settings"><input type="image" src="./static/pics/button-settings.svg" onClick="buttonClicked('MENU')" alt="Settings"></div>
        <div class="button youtube"><input type="image" src="./static/pics/button-youtube.svg" onClick="buttonClicked('YouTube')" alt="Youtube"></div>
        <div class="button netflix"><input type="image" src="./static/pics/button-netflix.svg" onClick="buttonClicked('Netflix')" alt="Netflix"></div>
        <div class="button vol-up"><input type="image" src="./static/pics/button-vol-up.svg" onClick="buttonClicked('VOLUMEUP')" alt="Volume Up"></div>
        <div class="button vol-down"><input type="image" src="./static/pics/button-vol-down.svg" onClick="buttonClicked('VOLUMEDOWN')" alt="Volume Down"></div>
        <div class="button home"><input type="image" src="./static/pics/button-home.svg" onClick="buttonClicked('HOME')" alt="Home"></div>
        <div class="button up"><input type="image" src="./static/pics/button-up.svg" onClick="buttonClicked('UP')" alt="Up"></div>
        <div class="button left"><input type="image" src="./static/pics/button-left.svg" onClick="buttonClicked('LEFT')" alt="Left"></div>
        <div class="button ok"><input type="image" src="./static/pics/button-ok.svg" onClick="buttonClicked('ENTER')" alt="OK"></div>
        <div class="button right"><input type="image" src="./static/pics/button-right.svg" onClick="buttonClicked('RIGHT')" alt="Right"></div>
        <div class="button down"><input type="image" src="./static/pics/button-down.svg" onClick="buttonClicked('DOWN')" alt="Down"></div>
        <div class="button back"><input type="image" src="./static/pics/button-back.svg" onClick="buttonClicked('BACK')" alt="Back"></div>
    </div>
    <div id="status"> </div>
</body>
</html>

